[package]
name = "ruslin"
version = "0.1.0"
authors = ["DianQK <dianqk@dianqk.net>"]
edition = "2021"
publish = false

[dependencies]
gettext-rs = { version = "0.7", features = ["gettext-system"] }
tracing = "0.1"
tracing-subscriber = "0.3"
relm4 = "0.5.0-beta.4"